/*FONTS*/

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Exotc350';
  src: url(fonts/EXO350DB.TTF);
}



h1 {
  font-family: 'Caveat';
  font-weight: lighter;
  
}


/*EFFECTS*/

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: .7; }
  }

@keyframes zoomin{
  0% {zoom: 0;}
  100% {zoom: 100%;}
}

/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

img {
  height: 100%;
  width: 100%;
}

a{
  color: white;
  text-decoration: none;
  font-family: 'Zen Loop';
  font-weight: bold;

}

.container {
  padding-left: 5vw;
  padding-right: 5vw;
}

/*VARIAVEIS*/

:root {
--color1: #EAADB3;
--color2: #E66572;
--color3: #B34F59;
--color4: #662D33;
--color5: #664B4E;

}

/*HEADER*/

#header {

  display: flex;
  width: 100%;
  background-color: var(--color3);
  color: white;
  justify-content: space-between;
  align-items: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: 4vw; 
  
}

.logo {

 line-height: 5vw;
}

.logo1{

  font-size: 8vw; 

}
.logo2{

  font-size: 5vw;
  color: var(--color4);
  text-align: end;
  
}


.whatsapp, .instagram{
  display: flex;
  justify-content: right;
  font-size: 4vw;
  font-family: 'Zen Loop';
  font-weight: normal;
}

.whatsapp:hover, .instagram:hover {
  font-size:4.1vw;
  transition: .5s;
}

.contacts i {
  padding-right: 1vw;
}

/*NAVIGATION*/

#menu {

  display: flex;
  background-color: var(--color5);
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 5.5vw;  
  
}

#menu .menu-list {

  display: flex;
  list-style: none;
  font-size: 4vw;
  justify-content: space-evenly;
  width: 100%;
  
}

#menu .menu-list li a{

  padding: 1vw;

}

#menu .menu-list li a:hover{

  color: var(--color1);
  filter: ;
  transition: .5s; 
  
}

/*MAIN*/

/*HOME*/
.container-image {
  position: relative;
  height: 100vw;
  
}

#home img{
  position: absolute;
  filter: brightness(0.5);

}



.container-image h3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
  font: normal 15vw 'Zen Loop'; 
  animation: fadeIn 2s ease-in-out;
  opacity: .7;
  width: 100%;
  
  
}



.container-image h3:hover {
  
  font-size: 15.5vw;
  transition: 0.5s;
  width: 100%;
}