/*FONTS*/

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@font-face {
  font-family: 'Exotc350';
  src: url(fonts/EXO350DB.TTF);
}


h1 {
  font-family: 'Great Vibes';
}


/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

img {
  height: 100%;
}

a{
  color: white;
  text-decoration: none;
  font-family: 'Exotc350';

}

/*VARIAVEIS*/

:root {
--color1: #EAADB3;
--color2: #E66572;
--color3: #B34F59;
--color4: #662D33;
--color5: #664B4E;

}

/*HEADER*/

#header {

  display: flex;
  width: 100%;
  background-color: var(--color2);
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  font-size: 5vw; 
  
}

#header .logo {

 font-weight: lighter;
 

}

/*NAVIGATION*/

#menu {

  padding: 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0));
  width: 100%;
  text-align: center;
  
}

#menu .menu-list {

  display: flex;
  list-style: none;
  font-size: 3vw;
  justify-content: space-evenly;

}

#menu .menu-list li a{

  display: inline-block;
  padding: 1vw;

}

#menu .menu-list li a:hover{
  color: var(--color1);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.034), rgba(0, 0, 0, 0));
  font-size: 3.5vw;
  transition: .5s;
  
}




